# Files #
*.jar
*.war
*.ear
*.iml
# Folders #
.idea/
build/
lib/
logs/
repo/
.gradle/
.sass-cache/
_site/
*.fileTracker.data
*file.data
src/test/groovy/org/fundacionjala/gradle/plugins/enforce/tasks/credentialmanager/resources/secretKeyGenerated.text