<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link rel='stylesheet' href='styles/bootstrap.min.css' />
    <link href="styles/dashboard.css" rel="stylesheet">
    <link href="styles/reports.css" rel="stylesheet">
    <script src='scripts/angular.min.js'></script>
    <script src='scripts/jquery.min.js'></script>
    <script src='scripts/bootstrap.min.js'></script>
    <script src='scripts/ng-google-chart.js'></script>
    <link href='http://fonts.googleapis.com/css?family=Alfa+Slab One' rel='stylesheet' type='text/css'>
    <title>  Enforce Report </title>
</head>
<body ng-app='MyApp'>
<script type='text/javascript'>
    var app = angular.module("MyApp", ['googlechart']);
</script>

<script type='text/javascript'>
app.controller('controllerReportCoverage', function(\$scope) {

    var colorDanger = '#D2322D';
    var colorRisk =  '#ED9C28';
    var colorAcceptable = '#2AABD2';
    var colorSafe = '#5CB85C';
    var coverageDataLines = $arrayChartCoverage

    \$scope.linesCovered;
    \$scope.percentCoverage;
    \$scope.linesNotCovered;
    \$scope.percentNotCoverage;
    \$scope.totalLines;
    \$scope.colorCoverage = '#000000';

    \$scope.chartCoverage = coverageDataLines;
    \$scope.dataRanges  = $arrayChartPie;
    \$scope.linesCovered = coverageDataLines[1][1];
    \$scope.linesNotCovered = coverageDataLines[2][1];
    \$scope.totalLines = \$scope.linesCovered + \$scope.linesNotCovered;
    \$scope.percentCoverage = 0

    if (\$scope.totalLines) {
        \$scope.percentCoverage = parseFloat((\$scope.linesCovered / (\$scope.totalLines)) * 100).toFixed(2);
        \$scope.percentNotCoverage = parseFloat(100 - \$scope.percentCoverage).toFixed(2);
    }

    if (\$scope.percentCoverage < 75 ) {
        \$scope.colorCoverage = colorDanger;
    }
    else if (\$scope.percentCoverage < 80 ) {
        \$scope.colorCoverage = colorRisk;
    }
    else if (\$scope.percentCoverage < 95 ) {
        \$scope.colorCoverage = colorAcceptable;
    }
    else if (\$scope.percentCoverage <= 100 ) {
        \$scope.colorCoverage = colorSafe;
    }

    \$scope.chartUnitTestResult = {};
    \$scope.chartUnitTestResult.data = [
        ['unit test', '', { role: 'style' }, { role: 'annotation' }],
        ['Success', $unitTestPass, 'green', '$unitTestPass'],
        ['Fail', $unitTestFail, 'red', '$unitTestFail']];

    \$scope.chartUnitTestResult.type = 'BarChart';
    \$scope.chartUnitTestResult.options = {
        title: "Total Unit Tests: "+ ($unitTestPass + $unitTestFail) ,
        width: 1000,
        height: 300,
        legend: { position: "none" }
    }
});
</script>

<script type='text/javascript'>
    app.controller('controllerUnitTest', function(\$scope) {
        \$scope.files = $arrayUnitTest;
        \$scope.filesClone = \$scope.files.slice(0);
        \$scope.filesClone = JSON.parse(JSON.stringify($arrayUnitTest));
        \$scope.orderByField = 'name';
        \$scope.danger = true;
        \$scope.success = false;
        \$scope.allUnitTest = $unitTestPass + $unitTestFail;
        \$scope.valueButtonSuccess = "btn btn-success";
        \$scope.\$watch('success', function() {
        if (\$scope.success == true) {
            \$scope.valueButtonSuccess = "btn btn-success";
        }
        else {
            \$scope.valueButtonSuccess = "btn btn-default";
        }
        });

        \$scope.valueButtonDanger = "btn btn-danger";
        \$scope.\$watch('danger', function() {
            if (\$scope.danger == true) {
                \$scope.valueButtonDanger = "btn btn-danger";
            }
            else {
                \$scope.valueButtonDanger = "btn btn-default";
            }
        });

        \$scope.detailsByTest = function(id) {
            for (var i = 0; i < \$scope.filesClone.length ; i++) {
                var file = \$scope.filesClone[i];
                if (file.id === id) {
                    var details = file.status == "Fail"?file.details.slice(0):[]
                    return details;
                }
            };
        };

        \$scope.showDetails = function (file) {
            if (file.isVisible == true) {
                file.details =  [];
                file.isVisible = false;
                return;
            }
            file.details = \$scope.detailsByTest(file.id);
            file.isVisible = true;
        }

        \$scope.getStatusColor = function(file) {
        if(file.status === 'Fail') {
            return 'danger';
        }

        return 'success';
        };
    });
  </script>

<script type='text/javascript'>
    app.controller('controllerClass', function(\$scope) {
        \$scope.files = $arrayClass
        \$scope.orderByField = 'name';
        \$scope.danger = true;
        \$scope.warning = true;
        \$scope.info = true;
        \$scope.success = true;
        \$scope.valueButtonSuccess = "btn btn-success";
        \$scope.\$watch('success', function() {
            if (\$scope.success == true) {
                \$scope.valueButtonSuccess = "btn btn-success";
            } else {
                \$scope.valueButtonSuccess = "btn btn-default";
            }
        });

        \$scope.valueButtonInfo = "btn btn-info";
        \$scope.\$watch('info', function() {
            if (\$scope.info == true) {
                \$scope.valueButtonInfo = "btn btn-info";
            } else {
                \$scope.valueButtonInfo = "btn btn-default";
            }
        });

        \$scope.valueButtonWarning = "btn btn-warning";
        \$scope.\$watch('warning', function() {
            if (\$scope.warning == true) {
                \$scope.valueButtonWarning = "btn btn-warning";
            } else {
                \$scope.valueButtonWarning = "btn btn-default";
            }
        });

        \$scope.valueButtonDanger = "btn btn-danger";
        \$scope.\$watch('danger', function() {
            if (\$scope.danger == true) {
                \$scope.valueButtonDanger = "btn btn-danger";
            } else {
                \$scope.valueButtonDanger = "btn btn-default";
            }
        });
    });
</script>
<script type='text/javascript'>
    app.controller('controllerTrigger', function(\$scope) {
        \$scope.orderByField='name';
        \$scope.files = $arrayTrigger
        \$scope.danger=true;
        \$scope.warning=true;
        \$scope.info=true;
        \$scope.success=true;

        \$scope.valueButtonSuccess = "btn btn-success";
        \$scope.\$watch('success', function() {
            if (\$scope.success == true) {
                \$scope.valueButtonSuccess = "btn btn-success";
            } else {
                \$scope.valueButtonSuccess = "btn btn-default";
            }
        });


        \$scope.valueButtonInfo = "btn btn-info";
        \$scope.\$watch('info', function() {
            if (\$scope.info == true) {
                \$scope.valueButtonInfo = "btn btn-info";
            } else {
                \$scope.valueButtonInfo = "btn btn-default";
            }
        });

        \$scope.valueButtonWarning = "btn btn-warning";
        \$scope.\$watch('warning', function() {
            if (\$scope.warning == true) {
                \$scope.valueButtonWarning = "btn btn-warning";
            } else {
                \$scope.valueButtonWarning = "btn btn-default";
            }
        });

        \$scope.valueButtonDanger = "btn btn-danger";
        \$scope.\$watch('danger', function() {
            if (\$scope.danger == true) {
                \$scope.valueButtonDanger = "btn btn-danger";
            } else {
                \$scope.valueButtonDanger = "btn btn-default";
            }
        });
    });
</script>
<script type='text/javascript'>
    app.controller('controllerChart', function(\$scope) {
        \$scope.charts = true;
        \$scope.coverage = false;
        \$scope.unitTest = false;

        \$scope.chartsActive = "active";
        \$scope.coverageActive = "";
        \$scope.unitTestActive = "";
    });
  </script>


<div class='mean-container container' ng-controller='controllerChart'>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="mean-container container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand subtitle-team" href='#'>ENFORCE</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="{{chartsActive}}"><a href="#" ng-click="charts=true; coverage=false; unitTest=false; chartsActive='active'; coverageActive=''; unitTestActive=''">Summary</a></li>
                <li class="{{coverageActive}}"><a href="" ng-click="charts=false; coverage=false; unitTest=true;chartsActive=''; coverageActive='active'; unitTestActive=''">Unit Test</a></li>
                <li class="{{unitTestActive}}"><a href="" ng-click="charts=false; coverage=true; unitTest=false;chartsActive=''; coverageActive=''; unitTestActive='active'">Coverage</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="row" style="margin-top:50px;">
    <div class="col-md-12">


        <div ng-show="charts" style='border:1px solid #ddd; margin: 50px 0px 50px 0px; border-radius: 10px;'>
            <div ng-controller='controllerReportCoverage'>
                <div class='row' id="idCharts">

                    <div id="content-data" class="center" >
                        <h2 class="title_report" align="center" >Code Coverage</h2>
                        <div id="content-total-coverage">
                            <div id="circle-coverage" style="background-color: {{colorCoverage}}">
                                <div>{{percentCoverage}}%</div>
                            </div>
                        </div>
                        <div id="content-linear-gauge">

                            <div id="block-danger" class="block-range range-danger"></div>
                            <div id="block-risk" class="block-range range-risk"></div>
                            <div id="block-acceptable" class="block-range range-acceptable"></div>
                            <div id="block-safe" class="block-range range-safe"></div>
                            <div id="block-progress" class="block-range"></div>

                            <label id="lb-range-1" class="lb-range">0</label>
                            <label id="lb-range-2" class="lb-range">75</label>
                            <label id="lb-range-3" class="lb-range">80</label>
                            <label id="lb-range-4" class="lb-range">95</label>
                            <label id="lb-range-5" class="lb-range">100</label>

                            <div id="block-pin" class="block-range" style="left:calc({{percentCoverage}}% - 8px)">
                                <div class="arrowText arrowBottom"></div>
                            </div>
                        </div>

                        <div id="content-categories">
                            <div class="content-category">
                                <div class="frame-category range-danger"></div>
                                <div class="frame-label"><label class="lb-frame-1">Danger</label></div>
                                <div class="frame-label"><label class="lb-frame-2">{{dataRanges[1][1]}} Files</label></div>
                            </div>
                            <div class="content-category">
                                <div class="frame-category range-risk"></div>
                                <div class="frame-label"><label class="lb-frame-1">Risk</label></div>
                                <div class="frame-label"><label class="lb-frame-2">{{dataRanges[2][1]}} Files</label></div>
                            </div>
                            <div class="content-category">
                                <div class="frame-category range-acceptable"></div>
                                <div class="frame-label"><label class="lb-frame-1">Acceptable</label></div>
                                <div class="frame-label"><label class="lb-frame-2">{{dataRanges[3][1]}} Files</label></div>
                            </div>
                            <div class="content-category">
                                <div class="frame-category range-safe"></div>
                                <div class="frame-label"><label class="lb-frame-1">Safe</label></div>
                                <div class="frame-label"><label class="lb-frame-2">{{dataRanges[4][1]}} Files</label></div>
                            </div>
                        </div>
                    </div>


                    <div class = "col-md-5 center div-table" >
                        <table class='table table-responsive'>
                            <tbody>
                            <tr>
                                <td>Lines covered:</td>
                                <td>{{linesCovered}} ({{percentCoverage}})%</td>
                            </tr>
                            <tr>
                                <td>Lines not covered:</td>
                                <td>{{linesNotCovered}} ({{percentNotCoverage}})%</td>
                            </tr>
                            <tr>
                                <td>Total lines:</td>
                                <td>{{totalLines}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row" id="idCharts">
                    <div class = "col-md-12 center">
                        <h4 class="title_report" align="center"> Unit Test Result </h4>
                        <div google-chart chart='chartUnitTestResult'></div>
                    </div>
                </div>
            </div>
        </div>




        <div ng-show="unitTest" ng-controller='controllerUnitTest'>
            <div class="row"  style="border-bottom:1px solid #ddd">
                <div class = "col-md-8">
                    <h1 class="title-dark-blue-color">Unit Test Result</h1>
                </div>
                <div class = "col-md-4">
                    <table class="table table-condensed">
                        <thead>
                        <th> Unit test Fail </th>
                        <th> Unit test Success </th>
                        <th> Total unit test </th>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="danger center-text">$unitTestFail</td>
                            <td class="success center-text">$unitTestPass</td>
                            <td class="info  center-text">{{allUnitTest}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <h3 class="title-dark-blue-color">All Test</h3>
            <form class='form-inline'>
                <input ng-model='query' type='text' placeholder='Filter by name' />
                <button class="{{valueButtonSuccess}}" ng-click="success = !success">Success</button>
                <button class="{{valueButtonDanger}}" ng-click="danger = !danger">Fail</button>
            </form>
            <div class="container-table-unit-test">
                <div class='table-responsive'>
                    <table class='table table-bordered'>
                        <thead>
                        <tr>
                            <th class="center-text column-nro-1"> <a href="#" ng-click="orderByField='name'; reverse = !reverse">
                                Unit Test<span ng-show="orderByField == 'name'"><span ng-show="!reverse" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span><span ng-show="reverse" class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></span>
                            </a></th>
                            <th class="center-text column-nro-2"> <a href="#" ng-click="orderByField='status'; reverse = !reverse">
                                State <span ng-show="orderByField == 'status'"><span ng-show="!reverse" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span><span ng-show="reverse" class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></span>
                            </a></th>
                        </tr>
                        </thead>
                    </table>

                    <div class="table-body">
                        <table class='table table-bordered'>
                            <tr ng-class="getStatusColor(file)" ng-repeat-start='file in files | filter: query | orderBy: orderByField:reverse' ng-show={{file.filter}}>
                                <td class="column-nro-1">

                                    <div ng-if="file.status == 'Fail'">
                                        <a ng-click="showDetails(file)">{{file.name}}</a>
                                    </div>
                                    <div ng-if="file.status != 'Fail'">
                                        {{file.name}}
                                    </div>
                                </td>
                                <td class="column-nro-2">{{file.status}}</td>
                            </tr>
                            <tr ng-repeat="detail in file.details" ng-show="file.isVisible && {{file.filter}}">
                                <td colspan="2"><b>{{detail.label}}:</b> {{detail.content}}</td>
                            </tr>

                            <tr ng-repeat-end ng-show="file.details.length == 0 && file.isVisible">
                                <td colspan="2">No detail</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="coverage">
            <div class="row" ng-controller='controllerReportCoverage'>
                <div class = "col-md-8">
                    <h1>Coverage Result</h1>
                </div>
                <div class = "col-md-4">
                    <table class="table table-condensed">
                        <thead>
                        <th> Uncovered </th>
                        <th> Covered </th>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="danger">{{linesNotCovered}}({{percentNotCoverage}}%) </td>
                            <td class="success">{{linesCovered}} ({{percentCoverage}}%)</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class='tabs'>
                <ul class='nav nav-tabs' id='myTab'>
                    <li class='active'>
                        <a data-toggle='tab' href='#tab1'>Classes</a>
                    </li>
                    <li>
                        <a data-toggle='tab' href='#tab2'>Triggers</a>
                    </li>
                </ul>
                <div class='tab-content'>
                    <div id='tab1' class='tab-pane fade in active'>
                        <div ng-controller='controllerClass'>
                            <h3>Search a Class</h3>
                            <form class='form-inline'>
                                <input ng-model='query' type='text' placeholder='Filter by name' />
                                <button class="{{valueButtonSuccess}}" ng-click="success = !success">Safe</button>
                                <button class="{{valueButtonInfo}}" ng-click="info = !info">Acceptable</button>
                                <button class="{{valueButtonWarning}}" ng-click="warning = !warning">Risk </button>
                                <button class="{{valueButtonDanger}}" ng-click="danger = !danger">Danger </button>
                            </form>
                            <div class='table-responsive'>
                                <table class='table table-bordered'>
                                    <thead>
                                    <th> <a href="#" ng-click="orderByField='name'; reverse = !reverse">
                                        Class Name  <span ng-show="orderByField == 'name'"><span ng-show="!reverse" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span><span ng-show="reverse" class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></span>
                                    </a></th>
                                    <th> <a href="#" ng-click="orderByField='percentage[0]'; reverse = !reverse">
                                        Coverage <span ng-show="orderByField == 'percentage[0]'"><span ng-show="!reverse" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span><span ng-show="reverse" class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></span>
                                    </a></th>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat='file in files | filter: query | orderBy: orderByField:reverse' ng-show={{file.percentage[1]}}>
                                        <td><a href="pages/{{file.name}}.html">{{file.name}}</a></td>
                                        <td>
                                            <div class='progress'>
                                                <div class='progress-bar progress-bar-{{file.percentage[1]}}' role='progressbar' aria-valuenow='{{file.percentage[0]}}' aria-valuemin='0' aria-valuemax='100' style='width: {{file.percentage[0]}}%'>{{file.percentage[0]}}%</div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id='tab2' class='tab-pane fade'>
                        <div ng-controller='controllerTrigger'>
                            <h3>Search a Trigger</h3>
                            <form class='form-inline'>
                                <input ng-model='query' type='text' placeholder='Filter by name' />
                                <button class="{{valueButtonSuccess}}" ng-click="success = !success">Safe</button>
                                <button class="{{valueButtonInfo}}" ng-click="info = !info">Acceptable</button>
                                <button class="{{valueButtonWarning}}" ng-click="warning = !warning">Risk </button>
                                <button class="{{valueButtonDanger}}" ng-click="danger = !danger">Danger </button>
                            </form>
                            <div class='table-responsive'>
                                <table class='table table-bordered'>
                                    <thead>
                                    <th> <a href="#" ng-click="orderByField='name'; reverse = !reverse">
                                        Trigger Name<span ng-show="orderByField == 'name'"><span ng-show="!reverse" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span><span ng-show="reverse" class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></span>
                                    </a></th>
                                    <th> <a href="#" ng-click="orderByField='percentage[0]'; reverse = !reverse">
                                        Coverage <span ng-show="orderByField == 'percentage[0]'"><span ng-show="!reverse" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span><span ng-show="reverse" class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></span>
                                    </a></th>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat='file in files | filter: query | orderBy: orderByField:reverse'  ng-show={{file.percentage[1]}}>
                                        <td><a href="pages/{{file.name}}.html">{{file.name}}</a></td>
                                        <td>
                                            <div class='progress'>
                                                <div class='progress-bar progress-bar-{{file.percentage[1]}}' role='progressbar' aria-valuenow='{{file.percentage[0]}}' aria-valuemin='0' aria-valuemax='100' style='width: {{file.percentage[0]}}%'>{{file.percentage[0]}}%</div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>