<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.url }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.url %} active{% endif %}" href="{{ site.url }}">Home</a>

{% comment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | prepend: site.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
{% endcomment %}
      <a class="sidebar-nav-item{% if page.url == site.url %} active{% endif %}" href="{{ "/docs/home/" | prepend: site.url }}">Gradle plugin documentation</a>
      <a class="sidebar-nav-item{% if page.url == site.url %} active{% endif %}" href="{{ "/jenkins/home/" | prepend: site.url }}">Jenkins plugin documentation</a>
      <a class="sidebar-nav-item{% if page.url == site.url %} active{% endif %}" href="{{ "/tutorials.html" | prepend: site.url }}">Tutorials</a>
      <a class="sidebar-nav-item{% if page.url == site.url %} active{% endif %}" href="{{ "/about.html" | prepend: site.url }}">About</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
